# API Dependencies
fastapi>=0.104.0
uvicorn>=0.23.2
python-dotenv>=1.0.0
requests>=2.31.0
pydantic>=2.5.2

# Original RAG Dependencies
langchain-huggingface>=0.3.0
langchain-qdrant>=0.2.0
qdrant-client>=1.14.3
mxbai-rerank>=0.1.6
sentence-transformers>=5.0.0
transformers>=4.53.0
fastembed-gpu>= 0.7.1
huggingface_hub[hf_xet]

# PyTorch follow https://pytorch.org/get-started/locally/

# Core dependencies
typing-extensions>=4.0.0